html, body{
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	height: 100%;
	background: url(../assets/picture1.png);
}
#container div {
	display: block;
}

#title-bar {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 8px;
	z-index: 9999;
	width: 100%;
	height: 50px;
	border-bottom: 3px #000 solid;
	background: url(../assets/bg3.jpg) repeat;
}
#hello{
	letter-spacing: 0.2em;
	font-weight: bold;
	text-decoration: underline;
	color: coral;
}
.logo-name {
	padding-top: 5px;
	width: 40%;
	height: 50px;
	float: left;
	font-size: 18px;
	letter-spacing: 0.2em;
	padding-left: 10px;
	font-family: "Bookman Old Style";
	font-size: 16px;
	font-weight: bold;
	color: rgba(255, 234, 245, 0.9);
}
.siteName{
	left: -10px;
	font-family: "Bookman Old Style";
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: rgba(255, 234, 245, 0.9);
}
.siteName:visited{
	color: rgba(255, 234, 245, 0.9);
}
#logo{
	width: 35px;
	height: 35px;
}
.search-box {
	width: 20%;
	height: 50px;
	float: left;
}
#search-input{
	width: 150px;
	height: 30px;
	font-size: 18px;
	border-radius: 15px;
	padding: 6px;
	border-bottom: 1px #ddd solid;
	transition: all 300ms linear;
}
#search-input:focus{
	width: 220px;
	height: 30px;
	border-radius: 0;
}
#search-input:hover{
	border-radius: 0;
}
#login, #profile {
	margin-right: 0px;
	width: 30%;
	height: 50px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0em;
	font-family: "Bookman Old Style";
	color: grey;
}
#login a, #profile a{
	text-decoration: none;	
}
#login a, #profile a{
	border-bottom: 3px #ccc solid; 
	margin: 10px;
}
#login a:visited{
	color: coral;
}
#loginformheader{
	margin: 15px 23%;
	text-decoration: underline;
	font-size: 24px;
	font-family: "tahoma";

}
#loginform, #signupform{
	margin: 100px 22%;
	width: 400px;
	height: auto;
	background-color: #ddf;
	padding: 10px;
	border: 3px #ccc solid;
	border-radius: 5px;
}
#loginform input, #signupform input{
	margin: 10px 100px;
	width: 200px;
	height: 30px;
	border-bottom: 2px black solid;
	font-size: 18px;
}
#loginform label, #signupform label{
	margin: 5px 100px;
	font-size: 18px;
	font-family: "tahoma";
}
.user-image{
	width: 24px;
	height: 24px;
	margin-top: 4px;
}

#main-content-area {
	padding-top: 63px;
	height: 1920px;
	width: 100%;
	background: url(../assets/background.jpg);
	opacity: 0.975;/*
	overflow: scroll;*/
}
#main-content-container {
	color: black;
	font-family: "Bookman Old Style";
	font-weight: normal;
	line-height: 1.1em;
	margin-left: 225px;
	padding-left: 10px;
	border-right: 1px #cccccc solid;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	float: left;
	width: 65%;
	height: 100%;
}

#feature-panel{
	width: 200px;
	height: 100%;
	padding-left: 6px;
	top: -10px;
	padding-top: 80px; 
	float: right;
	color: rgba(0,0,0,0.6);
	border-right: 1px #cccccc solid;
	position: fixed;
	margin-bottom: 40px;
}
#feature-panel h3{
	font-family: "Bookman Old Style";
	text-decoration: underline;
}
#features{
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}
#plain-features{
	color: black;
	line-height: 2em;
}
#feature-panel ul a{
	list-style-type: none;
	text-decoration: none;
}
#features-view a{
	border-bottom: 1px grey solid;
}

#footer {
	position: fixed;
	height: 30px;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #cccccc;
	text-align: center;
	z-index: 9999;
}
.questions-area{
	padding: 10px;
	width: auto;
	height: auto;
	background-color: #aeaeae;
	border-radius: 5px;
}
#questions{
	margin: 6px;
	padding: 5px;
	background-color: #ccc; 
	border-right: 10px #000 solid;
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	font-size: 20px;
}
#questions p{
	display: inline;
}
.answers{
	margin: 8px;
	border: 2px #000 solid;
	padding: 5px;
	width: auto;
	height: auto;
	font-size: 18px;
}
.comments{
	margin: 10px;
	border: 2px #000 solid;
	padding: 5px;
	width: auto;
	height: auto;
	background: gray;
	color: #fff;
	font-size: 14px;
}
#oops-error{
	font-family: "Bookman Old Style";
	font-weight: bold;
	color: red;
	letter-spacing: 0.2em;
	font-size: 28px;
}
#error{
	color: coral;
	letter-spacing: 0.1em;
	line-height: 1.2em;
}
#profile-panel{
	margin: 6px;
	padding-top: 10px;
	background-color: #ccc; 
	border-right: 10px #000 solid;
	box-shadow: 0 2px 2px rgba(0,0,0,0.6);
	font-size: 20px;
	font-family: "tahoma";
	padding-left: 20px;
}
#profile-panel h1, h4{
	text-decoration: underline;
}
#user-info{
	color: black;
	width: auto;
	height: auto;
	display: inline;
}
#user-pecks{
	color: black;
	width: auto;
	text-decoration: none;
	line-height: 3rem;
	letter-spacing: 0.1em;
	display: inline;
}